@import "variables";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

html,
body {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  -webkit-tap-hightlight-color: rgba(0,0,0,0);
}
body {
  height: 100%;
  color: $mid-grey;
  font-family: $base-font-family;
  text-rendering: geometricPrecision;
}
::-moz-selection {
  background: #D6EDFF;
}
::selection {
  background: #D6EDFF;
}
h1, h2, h3,
h4, h5, h6 {
  color: $dark-grey;
  line-height: 1.15em;
  margin: 0 0 0.4em 0;
  font-family: $heading-font-family;
  text-rendering: geometricPrecision;
  font-weight: normal;
  text-transform: uppercase;
}
h1 {
  font-size: $h1-font-size;
  letter-spacing: -2px;
  text-indent: -3px;
}
h2 {
  font-size: $h2-font-size;
  letter-spacing: -1px;
}
h3 {
  font-size: $h3-font-size;
  letter-spacing: -0.6px;
}
h4 {
  font-size: $h4-font-size;
}
h5 {
  font-size: $h5-font-size;
}
h6 {
  font-size: $h6-font-size;
}
a {
  color: $simple-blue;
  transition: color 0.3s ease;

  &:hover {
    color: $simple-dark-blue;
  }
}
p {
  margin: 0 0 1.75em 0;
  text-rendering: geometricPrecision;
  font-weight: 300;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
img {
  max-width: 100%;
}