@import './variables';
@import './mixins';

.file-upload-component {
  padding-top: 2rem;
  
  input {
    display: none;
  }
}

@keyframes chart-animation {
  0% {border-bottom-width: 0;}
  100% {border-bottom-width: 7rem};
}