@import "./variables.scss";

.container {
  max-width: 75vw;
  margin: 0 auto;
  padding-left: ($grid-spacing / 2);
  padding-right: ($grid-spacing / 2);

  &.narrow {
    max-width: 50vw;
  }
}
.row {
  display: flex;
  flex-direction: row;
}
[class^="col-"] {
  flex: 0 1 auto;
}
/* GRID COLUMNS BASED ON 12 */
.col-1 {
  width: $one-col-width;
}
.col-2 {
  width: $two-col-width;
}
.col-3 {
  width: $three-col-width;
}
.col-4 {
  width: $four-col-width;
}
.col-5 {
  width: $five-col-width; 
}
.col-6 {
  width: $six-col-width;
}
.col-7 {
  width: $seven-col-width;
}
.col-8 {
  width: $eight-col-width;
}
.col-9 {
  width: $nine-col-width;
}
.col-10 {
  width: $ten-col-width;
}
.col-11 {
  width: $eleven-col-width
}
.col-12 {
  width: $twelve-col-width;
}